body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container2 {
    width: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top:
}

.card {
    width: 300px;
    height: 350px;
}