@import url('https://fonts.googleapis.com/css?family=Poppins');

.container{
    background-color: brown;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
    height: auto;
    margin: auto;

    background-color: aquamarine;
}
.card{
    width: 400px;
    height: 320px;
}


.logo-container,
.nav-links,
.cart {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
    background-color: #C53B67 !important;

}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
}