/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

button {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    width: 80%;
    height: 10vh;
    margin: auto;
    align-items: center;

}

label {
    margin: 0 40px 0 0;
    font-size: 25px;
    line-height: 50px;
    display: none;
}

h4 {
    font-family: 'Sriracha', cursive;
}

.logo-container img {
    width: 80px;
    height: 80px;
}

#toggle {
    display: none;
}

.logo-container,
.nav-links,
.cart {
    display: flex;
}

.logo-container {
    flex: 1;
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
    background-color: #C53B67 !important;

}

.nav-links {
    justify-content: space-around;
    list-style: none;
}

.nav-link {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.cart {
    flex: 1;
    justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
    margin-left: 5%;
}

.intro-text h2 {
    font-size: 40px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border: 2px solid #C53B67;
    /*mudar cores dos butões*/
    background: transparent;
    color: #C53B67;
    /*mudar cores dos butões*/
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
}

.cta-select:hover {
    background-color: #e0dede;
}

.cta-add {
    background: #C53B67;
    /*mudar cores dos butões*/
    border: none;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    margin: 30px 0px 0px 20px;
}

.cta-add:hover {
    background-color: #973254;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 50vh;
}

.cover img {
    height: 100%;
    animation: drop 1.5s ease;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 80%;
}

.mid-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1;
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 20%;
    z-index: -1;
}

/*Animação*/

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-80px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@media screen and (max-width: 1024px) {

    .nav-link {
        font-size: 20px;
    }

    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h2 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .cover img {
        height: 60%;
    }

    .small-circle,
    .mid-circle,
    .big-circle {
        opacity: 0.2;
    }
}

@media screen and (max-width: 800px) {

    .logo-container {
        display: none;
    }

    label {
        display: block;
        cursor: pointer;
    }

    nav {
        text-align: center;
        width: 100%;
        margin: auto;
        display: none;
        background-color: #C53B67 !important;
    }

    .nav-links {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    .nav-links a {
        font-size: 10px;
    }

    .intro-text h2 {
        font-size: 40px;
    }

    .intro-text p {
        margin-top: 15px;
        font-size: 15px;
    }

    .cta {
        position: absolute;
        top: 85%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    #toggle:checked+nav {
        display: block;
    }
}

@media screen and (max-width: 380px) {
    .nav-links {
        display: flex;
        margin-top: 10px;
        align-items: center;
        justify-content: center;
        width: auto;
        border-bottom: 1px solid #EAEAEB;
    }

    .nav-links a {
        color: #EAEAEB;
    }

    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 2vh;
        text-align: center;
    }

    .intro-text h2 {
        font-size: 30px;
    }

    .intro-text p {
        margin-top: 15px;
        font-size: 15px;
    }

    .cta {
        position: absolute;
        top: 85%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
    }

    .cover img {
        height: 60%;
    }
}